---
import Layout from "../layout/Layout.astro";
import Header from "../components/Header.astro";

const title = "gillbates.";
const description =
  "Frontend Developer focused on creativity and astronomic designs.";
const publishDate = new Date();
---

<Layout {title} {description} {publishDate}>
  <Header />
  <h1 class="text-9xl">GillBates.</h1>
</Layout>
