---

---

<section
  class="grid grid-cols-6 items-stretch justify-center gap-x-6 [&>article]:p-12 [&>article]:bg-brand-light/5 [&>article]:rounded-3xl [&_span]:leading-tight w-full text-brand-light:90 text-5xl font-bold"
>
  <article class="col-span-4">
    <p class="">
      <span class="">
        15+ years of frontend excellence. I use ReactJS, NextJS, and Astro to
        elevate web design.
      </span>
      <span class="text-brand-light/50"
        >Let's innovate and propel the web into the future.</span
      >
    </p>
  </article>
  <article class="col-span-2 flex items-center justify-center">
    <p class="">
      <span class="text-[2.5rem]">Based in Buenos Aires, Argentina</span>
      <span class="block text-brand-light/50">GMT-3</span>
    </p>
  </article>
</section>
