---

---

<main
  class="flex flex-col items-center justify-center w-full gap-y-10 text-brand-light/90"
>
  <h2
    class="bg-brand-light/5 px-12 py-7 w-full rounded-3xl text-5xl lowercase text-left font-bold text-brand-light/90"
  >
    blog.
  </h2>
  <section
    class="grid grid-cols-2 items-center justify-center w-full gap-x-5 bg-brand-light/5 p-12 rounded-3xl [&>article]:col-span-1 [&>article]:flex [&>article]:flex-col [&>article]:items-start [&>article]:justify-center [&>article]:gap-y-3 [&>article>img]:rounded-3xl [&>article>img]:aspect-video [&>article>img]:w-full [&>article>img]:object-cover"
  >
    <article class="">
      <img
        src="https://images.unsplash.com/photo-1517825738774-7de9363ef735?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmxhY2slMjBhbmQlMjB3aGl0ZXxlbnwwfDB8MHx8fDI%3D&auto=format&fit=crop&w=500&q=60"
        alt=""
        class=""
      />
      <footer
        class="flex flex-col items-start justify-center gap-y-1 [&>h3]:text-3xl [&>p]:text-xl [&>p]:text-brand-light/50 font-bold max-w-lg"
      >
        <h3 class="">Implementing signal from scratch</h3>
        <p class="">Signals are basic units of data that can automatically</p>
      </footer>
    </article>
    <article class="">
      <img
        src="https://images.unsplash.com/photo-1538898780761-268f71f67675?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8YmxhY2slMjBhbmQlMjB3aGl0ZXxlbnwwfDB8MHx8fDI%3D&auto=format&fit=crop&w=500&q=60"
        alt=""
        class=""
      />
      <footer
        class="flex flex-col items-start justify-center gap-y-1 [&>h3]:text-3xl [&>p]:text-xl [&>p]:text-brand-light/50 font-bold max-w-lg"
      >
        <h3 class="">Implementing signal from scratch</h3>
        <p class="">Signals are basic units of data that can automatically</p>
      </footer>
    </article>
  </section>
</main>
