---

---

<main class="flex flex-col items-center justify-center w-full gap-y-1">
  <section
    class="flex flex-col p-12 items-center justify-center w-full gap-y-12 bg-brand-light/5 rounded-3xl"
  >
    <div
      class="relative w-full [&>div]:w-20 [&>div]:h-14 [&>div]:rounded-full [&>div]:absolute mt-12"
    >
      <div class="bg-brand-light/50 left-[48%] -translate-x-1/2"></div>
      <div class="bg-brand-light left-[50%] -translate-x-1/2"></div>
    </div>
    <p class="text-5xl font-bold text-center text-brand-light/50 mt-6">
      Shall we work together?
    </p>
    <a
      href="mailto:gillbates@ms.com"
      class="text-2xl font-medium bg-brand-accent py-4 text-center rounded-full mb-12 w-full"
      aria-label="email">gillbates@ms.com</a
    >
  </section>
</main>
<section
  class="bg-brand-light/5 py-6 px-12 rounded-full w-full flex items-center justify-between [&>p]:text-xl [&>p]:font-semibold text-brand-light/90"
>
  <p class="">gillbates.</p>
  <p class="text-brand-light/50">all rights reserved. © 2023</p>
</section>
