---

---

<section
  class="grid grid-cols-4 items-stretch justify-center gap-x-6 [&>article]:col-span-2 [&>article]:p-12 [&>article]:bg-brand-light/5 [&>article]:rounded-3xl w-full text-brand-light:90"
>
  <article class="w-full flex flex-col items-start justify-center gap-y-6">
    <img
      src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/2e/2e61bbe2d8224d4c429ea1f26f5fa1c6ec1d0059_full.jpg"
      alt="Gill Bates Avatar"
      class="aspect-square w-24 rounded-full filter-saturate-0"
    />
    <p
      class="text-left font-bold [&>span]:block [&>span]:text-5xl [&>span]:leading-tight"
    >
      <span class="">Gill Bates Frontend Developer</span>
      <span class="text-brand-light/50"
        >focused on creativity and astronomic designs</span
      >
    </p>
  </article>
  <article class="flex flex-col items-center justify-between">
    <div
      class="relative w-full [&>div]:w-20 [&>div]:h-14 [&>div]:rounded-full [&>div]:absolute mt-12"
    >
      <div class="bg-brand-light/50 left-48"></div>
      <div class="bg-brand-light left-54"></div>
    </div>
    <p class="text-5xl font-bold text-center text-brand-light/50">
      Shall we work together?
    </p>
    <a
      href="mailto:gillbates@ms.com"
      class="text-2xl font-medium bg-brand-accent py-4 px-24 rounded-full mb-12"
      aria-label="email">gillbates@ms.com</a
    >
  </article>
</section>
