---

---

<main class="flex flex-col items-center justify-center w-full gap-y-10">
  <h2
    class="bg-brand-light/5 px-12 py-7 w-full rounded-3xl text-5xl lowercase text-left font-bold text-brand-light/90"
  >
    works.
  </h2>
  <section
    class="flex flex-col items-center justify-center w-full gap-y-10 [&>article]:p-12 [&>article]:bg-brand-light/5 [&>article]:rounded-3xl [&>article]:w-full [&>article]:flex [&>article]:flex-col [&>article]:items-center [&>article]:justify-center [&>article]:gap-y-6 text-brand-light:90"
  >
    <article class="">
      <header class="flex items-center justify-between w-full">
        <div class="w-full flex flex-col items-start justify-center">
          <h3 class="text-3xl font-bold">larural</h3>
          <p class="text-brand-light/50 font-bold text-2xl">
            "larural" landing page redesigns
          </p>
        </div>
        <a
          href="#"
          class="flex items-center justify-center w-20 h-20 aspect-square rounded-full bg-brand-light/90 text-brand-dark text-4xl"
          >↗︎</a
        >
      </header>
      <footer
        class="grid grid-cols-6 items-stretch juystify-center gap-x-4 [&>img]:rounded-3xl [&>img]:object-cover [&>img]:object-left"
      >
        <img src="https://i.imgur.com/mHIUiH2.png" alt="" class="col-span-4" />
        <img src="https://i.imgur.com/mHIUiH2.png" alt="" class="col-span-2" />
      </footer>
    </article>
    <article class="">
      <header class="flex items-center justify-between w-full">
        <div class="w-full flex flex-col items-start justify-center">
          <h3 class="text-3xl font-bold">next.js</h3>
          <p class="text-brand-light/50 font-bold text-2xl">
            next.js frontend work
          </p>
        </div>
        <a
          href="#"
          class="flex items-center justify-center w-20 h-20 aspect-square rounded-full bg-brand-light/90 text-brand-dark text-4xl"
          >↗︎</a
        >
      </header>
      <footer
        class="grid grid-cols-6 items-stretch juystify-center gap-x-4 [&>img]:rounded-3xl [&>img]:object-cover [&>img]:object-left"
      >
        <img src="https://i.imgur.com/rwSekTC.png" alt="" class="col-span-2" />
        <img src="https://i.imgur.com/rwSekTC.png" alt="" class="col-span-4" />
      </footer>
    </article>
    <article class="">
      <header class="flex items-center justify-between w-full">
        <div class="w-full flex flex-col items-start justify-center">
          <h3 class="text-3xl font-bold">x.com redesign</h3>
          <p class="text-brand-light/50 font-bold text-2xl">
            Frontend work in x.com site
          </p>
        </div>
        <a
          href="#"
          class="flex items-center justify-center w-20 h-20 aspect-square rounded-full bg-brand-light/90 text-brand-dark text-4xl"
          >↗︎</a
        >
      </header>
      <footer
        class="grid grid-cols-6 items-stretch juystify-center gap-x-4 [&>img]:rounded-3xl [&>img]:object-cover [&>img]:object-left"
      >
        <img src="https://i.imgur.com/ShL3v4p.png" alt="" class="col-span-4" />
        <img src="https://i.imgur.com/ShL3v4p.png" alt="" class="col-span-2" />
      </footer>
    </article>
  </section>
</main>
